HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### PostgreSQL ###
pgdata
postgres-data

### Hot Swapping ###
.m2

### environment variable config ###
.env.developmental
.env

#TODO: ADD GITHUB ACTIONS AND NEW REPO FOR KEYCLOAK AND IGNORE THIS FOLDER
### Keycloak ###